@charset "UTF-8";

body{
    background-color: black;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    color: aqua;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: beige;
    text-align: justify;
}